html,
body {
    height: 100%;
}

#content {
    position: relative;
    height: 100%;
}

#before-container {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

#after-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-position: left;
    background-size: cover;
    overflow: hidden;
}

#reveal-bar {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 10px;
    background-color: #000;
    z-index: 4;
}